</section>
<!-- footer section -->
<section class="footer-section">
  <button type="button" class=" social-icon btn btn-sm twitter-button"><i class="fab fa-twitter"></i></button>
  <button type="button" class="social-icon btn btn-sm facebook-button"><i class="fab fa-facebook"></i></button>
  <button type="button" class="social-icon btn btn-sm facebook-button"><i class="fab fa-instagram-square"></i></button>
  <button type="button" class="social-icon btn btn-sm email-button"><i class="fas fa-envelope-open"></i></button>
  <p> @Copyright 2020 -AvoMonk</p>
</section>
