<%- include("partials/header") -%>

<!-- features section -->
<section class="feature-class" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="features col-lg-4 col-md-3">
        <h3> <i class="fab fa-hire-a-helper icon-class"></i></h3>
        <h3 class="feature-header"> Get the best help</h3>
        <p class="feature-text">We will find the best helper for your needs</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h3><i class="fas fa-money-bill-wave icon-class"></i></h3>
        <h3 class="feature-header"> Find the best price</h3>
        <p class="feature-text">Compare the price to find the most affordable helper</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h3><i class="fab fa-gratipay icon-class"></i></h3>
        <h3 class="feature-header"> Easy to use</h3>
        <p class="feature-text">So easy to use that you will have your help sorted in minutes</p>
      </div>
    </div>
  </div>
</section>

<!-- content-section -->
<section class="content-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 pull-left maintenance-class content-header">
        <img src="images/maintenance.jpg" alt="maintenance" class="float-left category-img">
        <h3 class="category-header">Maintenance</h3>
      </div>
      <div class="col-lg-4 col-md-6 care-class content-header">
        <img src="images/carer.jpg" alt="carer" class="float-left category-img">
        <h3 class="category-header">Care Services</h3>
      </div>
      <div class="col-lg-4 col-md-6 health-class content-header">
        <img src="images/health-fitness.jpg" alt="healthfitness" class="float-left category-img">
        <h3 class="category-header">Health & Fitness</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 beauty-class content-header">
        <img src="images/beauty.jpg" alt="beauty" class="float-left category-img">
        <h3 class=category-header>Beauty</h3>
      </div>
      <div class="col-lg-4 col-md-6 outdoor-class content-header">
        <img src="images/gardener.jpg" alt="outdoor" class="float-left category-img">
        <h3 class=category-header>Outdoor</h3>
      </div>
      <div class="col-lg-4 col-md-6 general-class content-header">
        <img src="images/general1.jpg" alt="general" class="float-left category-img">
        <h3 class=category-header>General</h3>
      </div>
    </div>
  </div>
</section>
<!--testimonial section -->
<section class="testimonial-section">
  <div class="row">
    <div class="col">
      <h1> We are here to provide the best help to you at the best price</h1>
    </div>

  </div>

 <%- include("partials/footer") -%>
