<%- include("partials/header") -%>
<body class="text-center">

<form action="/ "class="form-signin" method="post">
  <h1 class="h3 mb-3 font-weight-normal">Newsletter Signup</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="text" name="fname" class="form-control top" placeholder="First Name" required autofocus>
  <input type="text" name="lname" class="form-control middle" placeholder="Last Name" required autofocus>
  <input type="email" name="email" class="form-control bottom" placeholder="Email address" required autofocus>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign me up</button>
  <p class="mt-5 mb-3 text-muted">&copy; Avomonk </p>
</form>
</body>
